<div class="page-settings">
<view data-id="header" data-constructor="Views/Base" data-options='{"tpl": {"src": "header.html?v=1" }}' />
<view data-id='pageDescription' data-constructor='Views/PageDescription' data-options="{
        pageTitle: 'Managers',
        pageDescription: 'List of managers'
    }"/>
<view data-id='breadcrumbs' data-constructor='Views/Breadcrumb' data-options="{path:[
        {
            href: '#managers',
            title: 'Managers'
        }
    ]}"/>


<div class="container">
<div class="row">
<div class="jumbotron">
<ul class="nav nav-tabs">
    <li ><a href="#students" >Students</a></li>
    <li><a href="#employers" >Employers</a></li>
    <li class="active"><a href="#managers" ><i class="fa fa-group"></i> Managers</a></li>
    <div class=" pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-manager">Add manager</button>
        </div>
    </div>
</ul>
    <view data-id="ManagersTable" data-constructor="Views/ManagersTable" />
</div>
</div>
    <view data-id="addManager"
          data-constructor="Views/Overlay"
          data-options="{className: 'add-manager', title: '{%- data.textAddManager %}', hideEvent: 'form:submit:success'}">
        <view data-id="formAddManager" data-constructor="Views/AddManagerForm" />
    </view>
</div>
</div>