<div>

    <view data-id="changePasswordPopup" data-constructor="Views/Base"
          data-options='{"tpl": {"src": "header.html?v=1" }}'/>
</div>
<div class="content">
    <view data-id='pageDescription' data-constructor='Views/PageDescription' data-options="{
        pageTitle: 'New skill',
        pageDescription: 'Add a new skill a student can have'
    }"/>
    <view data-id='breadcrumbs' data-constructor='Views/Breadcrumb' data-options="{path:[
        {
            href: '#settings',
            title: 'Settings'
        },

         {
            href: '#setting/skills',
            title: 'Skills'
        }


    ]}"/>
</div>


<div class="container form-skills">

    <div class="row">


        <div class="col-md-9 col-md-offset-1 student-info">
            <div class="jumbotron">
                <view data-id='addSkillForm' data-constructor='Views/NewSkillForm' />
                <view data-id='addSkillTable' data-constructor='Views/SkillsTable' />




            </div>
        </div>
    </div>
</div>
