<div class="page-settings">
    <view data-id="header" data-constructor="Views/Base" data-options='{"tpl": {"src": "header.html?v=1" }}'/>
    <view data-id='pageDescription' data-constructor='Views/PageDescription' data-options="{
        pageTitle: 'Settings',
        pageDescription: 'You can change some settings for application'
    }"/>
    <view data-id='breadcrumbs' data-constructor='Views/Breadcrumb' data-options="{path:[
        {
            href: '#settings',
            title: 'Settings'
        }
    ]}"/>
    <div class="container">
        <div class="row">
            <div class="content-wraper">
                <div class="jumbotron">
                    <div class="row">
                        <div class="list-group">
                            <a href="#settings/fields" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-cubes"></i>Custom Fields</h4>
                                <p class="list-group-item-text">Add/Remove a new fields for students...</p>
                            </a>
                            <a href="#settings/skills" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-git"></i>Skills List</h4>
                                <p class="list-group-item-text">Add/Remove a new skills a student can have...</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>