<script type="text/template" id="list">
    <div class="feedback-list">
        <view data-constructor="Views/FeedbackForm" data-options="{panelClass:'in', student: data.student, prepareModel: false, model: new data.collection.model(), disable: false, cancelLabel: '' }"/>
        {%? data.collection && data.collection.length %}
        <div class="accordion">
            <div class="panel-group">
                {% data.collection.forEach(function(el, i){ %}
                   <view data-constructor="Views/FeedbackForm" data-options="{student: data.student, prepareModel: false, model: data.collection.at({%- i %}) }"/>
                {% }); %}
            </div>
        </div>
        {%?%}
    </div>
</script>

<script type="text/template" id="item">
    <div class="feedback-item">
        <div style="display: none;">
            <view data-id="student" data-constructor="Views/Fields/Base" data-options="{ name: 'student', type: 'hidden', value: data.student, rules:'required'}" />
            <view data-id="date" data-constructor="Views/Fields/Base" data-options="{ name: 'date', type: 'hidden', value: data.model.get('date') || (new Date()).valueOf(), rules:'required'}" />
        </div>
        <div class="accordion-group">
            <div class="panel panel-default">
                <div class="panel-heading accordion-heading">
                <a class="accordion-toggle"  data-toggle="collapse" href="#feedback{%- data.model.id %}">
                    {% var date = data.model.get('date'); %}
                    {%- date? (new Date(date*1).toDateString()) : ((new Date).toDateString()) %}
                    {%? data.model.get('curator').name %}
                        - {%- data.model.get('curator').name %}
                    {%?%}
                </a>
            </div>
            <div id="feedback{%- data.model.id %}" class="panel-body panel-collapse collapse {%- data.panelClass %}">
                <h3 >{%- data.model.get('curator').name %}</h3>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Criterion</th>
                            <th>Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Relations in the team</td>
                            <td>
                                <view data-id="relationsInTheTeam" data-constructor="Views/Fields/Dropdown" data-options="{
                                    name: 'relationsInTheTeam',
                                    value: data.model.get('relationsInTheTeam') || '',
                                    rules:'required',
                                    items: [{
                                        value: '',
                                        label: 'Select one'
                                    },{
                                        value: 'bad',
                                        label: 'Bad'
                                    },{
                                        value: 'normal',
                                        label: 'Normal'
                                    },{
                                        value: 'good',
                                        label: 'Good'
                                    }]
                                }" />
                            </td>
                        </tr>

                        <tr>
                            <td>Professional suitability</td>
                            <td>
                                <view data-id="professionalSuitability" data-constructor="Views/Fields/Selectable" data-options="{
                                    name: 'professionalSuitability',
                                    value: data.model.get('professionalSuitability') || '',
                                    rules:'required',
                                    items: [{
                                        value: 'suitable',
                                        label: 'Suitable'
                                    },{
                                        value: 'nosuitable',
                                        label: 'No suitable'
                                    },]
                                }" />
                            </td>
                        </tr>

                        <tr>
                            <td>Attitude to work</td>
                            <td>
                                <view data-id="attitudeToWork" data-constructor="Views/Fields/Dropdown" data-options="{
                                    name: 'attitudeToWork',
                                    value: data.model.get('attitudeToWork') || '',
                                    rules:'required',
                                    items: [{
                                        value: '',
                                        label: 'Select one'
                                    },{
                                        value: 'bad',
                                        label: 'Bad'
                                    },{
                                        value: 'normal',
                                        label: 'Normal'
                                    },{
                                        value: 'good',
                                        label: 'Good'
                                    }]
                                }" />
                            </td>
                        </tr>

                        <tr>
                            <td>Professional progress</td>
                            <td>
                                <view data-id="professionalProgress" data-constructor="Views/Fields/Dropdown" data-options="{
                                    name: 'professionalProgress',
                                    value: data.model.get('professionalProgress') || '',
                                    rules:'required',
                                    items: [{
                                        value: '',
                                        label: 'Select one'
                                    },{
                                        value: 'Small',
                                        label: 'Small'
                                    },{
                                        value: 'average',
                                        label: 'Average'
                                    },{
                                        value: 'huge',
                                        label: 'Huge'
                                    }]
                                }" />
                            </td>
                        </tr>

                        <tr>
                            <td>Increase working hours</td>
                            <td>
                                <view data-id="increaseWorkingHours" data-constructor="Views/Fields/Selectable" data-options="{
                                    name: 'increaseWorkingHours',
                                    value: data.model.get('increaseWorkingHours') || '',
                                    rules:'required',
                                    items: [{
                                        value: 'No',
                                        label: 'No'
                                    },{
                                        value: 'yes',
                                        label: 'Yes'
                                    }]
                                }" />
                            </td>
                        </tr>

                        <tr>
                            <td>Works at real project</td>
                            <td>
                                <view data-id="worksAtRealProject" data-constructor="Views/Fields/Selectable" data-options="{
                                    name: 'worksAtRealProject',
                                    value: data.model.get('worksAtRealProject') || '',
                                    rules:'required',
                                    items: [{
                                        value: 'No',
                                        label: 'No'
                                    },{
                                        value: 'yes',
                                        label: 'Yes'
                                    }]
                                }" />
                            </td>
                        </tr>

                        <tr>
                            <td>Current status</td>
                            <td>
                                <view data-id="currentStatus" data-constructor="Views/Fields/Selectable" data-options="{
                                    name: 'currentStatus',
                                    value: data.model.get('currentStatus') || '',
                                    rules:'required',
                                    items: [{
                                        value: 'Work',
                                        label: 'Work'
                                    },{
                                        value: 'internship',
                                        label: 'Internship'
                                    }]
                                }" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label class="control-label">Note</label>
                    <view data-id="note" data-constructor="Views/Fields/Textarea" data-options="{
                        className: 'form-control',
                        value: data.model.get('note') || '',
                        name: 'note',
                        rules: {
                            required: true
                        },
                        value: '{%- data.model.get('note') %}'
                    }"/>
                </div>


                <div class="form-buttons-container">
                    <div class="edit-button-container">
                        <button type="button" class="btn btn-primary btn-sm enable-form">{%- data.editLabel %}</button>
                    </div>
                    <div class="save-button-container">
                        {%? data.cancelLabel %}
                        <button type="button" class="btn btn-default btn-sm cancel-submit">{%- data.cancelLabel %}</button>
                        {%?%}
                        <button type="button" class="btn btn-primary btn-sm submit-button">{%- data.saveLabel %}</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</script>