<div>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Look</th>
            <th>Can be changed</th>
            <th>Options</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
<!--
        {% data.collection.forEach(function(field, i){ %}

        <view data-id=i data-constructor='Views/FieldRow' data-options="{field:field}"/>

        {% }); %}-->
        </tbody>
    </table>
</div>