<div class="form-horizontal">
    <div class="form-group old-password field">
        <label class="col-md-4 control-label" for="oldPassword">{%- data.oldPassword %}</label>

        <div class="col-md-8">
            <view data-id="oldPassword" data-constructor="Views/Fields/Base" data-options="{
                className: 'form-control',
                name: 'oldPassword',
                type: 'password',
                rules: 'password',
                attrs: {
                    placeholder: '{%- data.oldPassword %}'
                }
            }" />
        </div>
    </div>
    <div class="form-group new-password field">
        <label class="col-md-4 control-label" for="newPassword">{%- data.newPassword %}</label>

        <div class="col-md-8">
            <view data-id="newPassword" data-constructor="Views/Fields/Base" data-options="{
                className: 'form-control',
                name: 'newPassword',
                type: 'password',
                rules: 'password',
                attrs: {
                    placeholder: '{%- data.newPassword %}'
                }
            }" />
        </div>
    </div>
    <div class="form-group confirm-password field">
        <label class="col-md-4 control-label" for="confirmPassword">{%- data.confirmField %}</label>

        <div class="col-md-8">
            <view data-id="confirmPassword" data-constructor="Views/Fields/Base" data-options="{
                className: 'form-control',
                name: 'confirmPassword',
                type: 'password',
                rules: 'password',
                attrs: {
                    placeholder: '{%- data.confirmField %}'
                }
            }" />
        </div>
    </div>
    <div class="form-group divider modal-footer">
        <button class="btn btn-primary btn-sm pull-right submit-btn confirm-btn button-change-password">{%- data.submitButtonText %}</button>
    </div>
</div>
