<script type="text/template" id="container">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>{%- data.managerName %}</th>
        </tr>
        <tr class="filter-container">
            <th>&nbsp;</th>
            <th>
                <div class="form-group">
                    <view data-id="managerName" data-constructor="Views/Fields/Base" data-options="{
                        className: 'form-control',
                        name: 'managerName',
                        type: 'name',
                        attrs: {
                        placeholder: '{%- data.managerNamePlaceholder %}'
                         }
                    }" />
                </div>
            </th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script type="text/template" id="manager">
    <tr>
        <td>{%- data.index %}</td>
        <td>{%- data.model.get('name') %}</td>
    </tr>
</script>